{
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-regenerator"
  ],
  "env": {
    "development": {
      "presets": [
        "latest",
        "react-hmre"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }]
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "presets": [
        "latest"
      ]
    }
  }
}
