.content {
  composes: content from '../../styles/styles.css';
}

.main-header {
  composes: main-header from '../../styles/styles.css';
}

.content-description {
  composes: main-paragraph from '../../styles/styles.css';
}

.link {
  composes: link from '../../styles/styles.css';
  margin-top: 4rem;
}
