.wrapper {
  display: inline-block;
  border-top: 1px solid #908e89;
  margin-top: 3rem;
}

.description {
  composes: main-paragraph from '../../styles/styles.css';
  line-height: 3.4rem;
  margin: 1rem 0;
}

.counter-info {
  display: flex;
  justify-content: space-between;
}

.counter-value {
  composes: rounded-rectangle from '../../styles/styles.css';
  composes: description;
  font-family: 'OpenSans Bold', Arial, Helvetica, sans-serif;
  color: #fff;
  background: #ff4326;
  display: inline-block;
  min-width: 6rem;
  text-align: center;
}

.button {
  composes: button from '../../styles/styles.css';
  margin-right: 1.4rem;
  transition: all 0.4s ease;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background: rgba(40,40,40,0.1);
}

.button:active {
  background: rgba(255,67,38,0.3);
}


.button-disabled {
  composes: button;
  color: rgba(40,40,40, 0.3);
  cursor: default;
}

.button-disabled:hover, .button-disabled:active {
  background: rgba(40,40,40,0.05);
}
