.content {
  composes: content from '../../styles/styles.css';
}

.main-header {
  composes: main-header from '../../styles/styles.css';
}

.main-paragraph {
  composes: main-paragraph from '../../styles/styles.css';
}

.secondary-header {
  composes: secondary-header from '../../styles/styles.css';
}

.content-section {
  border-top: 1px solid #908e89;
  margin-top: 4rem;
}

/*link*/
.text-link {
  color: #ff4326;
}

.text-link:hover {
  text-decoration: underline;
}

/*list*/
.list {
  font-size: 1.4rem;
  margin: 0.8rem 0;
  line-height: 1.4;
}

.list dt {
  font-style: italic;
}

.list li {
  margin: 0.2rem 0;
}

.links-list {
  composes: list;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/*table*/
.table {
  border-top: 2px solid #908e89;
  border-collapse: collapse;
  color: #444;
  margin-top: 1rem;
  margin-bottom: 6rem;
  width: 100%;
}

.table th {
  font-family: 'OpenSans Light', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.4;
}

.table td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.4;
}

.table th, .table td {
  padding: 1.4rem;
}

.table th:first-child, .table td:first-child {
  border-right: 1px solid #908e89;
}

.table thead {
  background: rgba(40,40,40,0.1);
}

.table tbody tr{
  background: rgba(40,40,40,0.02);
  transition: background 0.2s ease;
}

.table tbody tr:hover {
  background: rgba(255,67,38,0.1);
}

/*simple layout*/
.columns {
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 66%;
}

.secondary-content {
  width: 30%;
}

@media all and (max-width: 1000px) {
  .main-content, .secondary-content {
    width: 46%;
  }
}

@media all and (max-width: 700px) {
  .columns {
    display: block;
  }

  .main-content, .secondary-content {
    width: 100%;
  }
}
