.wrapper {
  display: inline-flex;
  align-items: center;
}

.link {
  composes: link from '../../styles/styles.css';
}

.counter {
  composes: rounded-rectangle from '../../styles/styles.css';
  display: block;
  min-width: 6rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #ff4326;
  font-family: 'OpenSans Bold', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  cursor: default;
}
