<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="React starter kit for single page web applications development.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>React Quickstart</title>
  </head>
  <body>
    <noscript>Please enable <strong>JavaScript</strong> in your browser to make this app work.</noscript>
    <div id="app"></div>
  </body>
</html>
